/* untuk memeberi warna ketika kursor diarahkan ke selector */
a:hover {
font-size: larger;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color: #FFB84C;
}
a:active{
    font-style: italic;
    
}
a:visited{
    color: darkgrey;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:grey;
    background-image:url(image.png)
}

p{
    line-height: 2em;
    text-indent: 2.5%;
    word-spacing: 2.5px;
}
/* selector  */
h3, h4 {
    color:#4C4C6D;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}